<body>

  <div class="row">

    <div class="card intro-card   col-12 col-sm-6 col-md-12 mb-12">

      <center> <h3>About me</h3></center>
      <div class="card-body ">
        <h4 class="card-title">Ashish Prajapat</h4>
        <p>I am a <b id="text-rotator">Engin</b></p>
        <p>
          Hi, I’m Ashish Prajapat! Currently a third-year B.Tech student at
          Jagannath University. <br> <br>

          A passionate programmer with a mindset to learn new technologies, also has hands over competitive programming. <br> <br>

          A reliable and team person , steady to tackle real life programming problems and get my hands dirty with new and challenging stuff!.<br> <br>
        </p>
        <a href="#" class="btn btn-primary">See more</a>
      </div>
    </div>

  </div>
</body>