<body>
    
    <div class="mainFooter">
                      
        <div class="icon cols">
           
           <a href="https://www.instagram.com/ashish_coder_44/"> <i class="fa-brands fa-square-instagram"></i></a>
           <a href="*"> <i class="fa-brands fa-linkedin"></i></a>
           <a href="*"> <i class="fa-brands fa-youtube"></i></a>
           <a href="*"> <i class="fa-brands fa-square-facebook"></i></a>
           <a href="*"> <i class="fa-brands fa-twitter"></i></a>
           <a href="*"> <i class="fa-solid fa-phone"></i></a>
           <a href="*"> <i class="fa-solid fa-envelope"></i></a>
        </div>
        <div class="links">
            <a class="link-a" href="*">privacy</a>
            <a class="link-a" href="*">security</a>
            <a class="link-a" href="*">About more</a>
        </div>
        <div class="extra">
            <p>I am become a software Engineer</p>

        </div>
    </div>
</body>