
<body>
   
    <div class="row row-cols-sm-1">
    <div class="card intro-card  col-12 col-sm-6 col-md-4 mb-4" >
      
        <div class="card-body ">
            <p>Hi, I am </p>
          <h4 class="card-title">Ashish Prajapat</h4>
          <p class="card-text">I am prsuring B.Tech at <b>Jagannath University</b>.</p>
          <a href="#" class="btn btn-primary">See more</a>
        </div>
      </div>


      <div class="card intro-card   col-12 col-sm-6 col-md-4 mb-4" >
        <img class="intro-img" src="/image/Ashish1.jpg" class="card-img-top img-fluid" alt="...">
        
        </div>
    </div>
</body>
