
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top  border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <img src="https://yt3.ggpht.com/9E1Qpruh8RieuRugVmw4ZWmxfITuy8UIySvF0WXF-LWmJvq-dneBdzSvBLaf1TZNexNOSNqTWQ=s108-c-k-c0x00ffffff-no-rj" class="navImg" alt="hi"></a>
          <a class="navbar-brand" href="#"> AP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="#">About me</a>
              <a class="nav-link" href="/projects">Projects</a>
              <a class="nav-link " href="/contect">Contact me</a>
            </div>
          </div>
        </div>
      </nav>
</body>