<body>
    <center><h2>Resume</h2></center>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card edu-card">
               <center> <h4>Education   </h4></center>


            <div class="card education-item" style="width: 90%;">
                <div class="card-body">
                  <h5 class="card-title">B.Tech(CSE) [2022 - 2026]</h5>
                  <p class="card-text"><b>Jagannath University Jaipur.</b> <br> Score : <b> 8.62 (cgpa)</b></p>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
              </div>
             
              <div class="card education-item" style="width:  90%;">
                <div class="card-body">
                  <h5 class="card-title">HIGHER SECONDARY (2021- 2022)</h5>
                  <p class="card-text"><b>GSSS Watika,</b> <br> Score : <b>86 (percentage)</b></p>
                  <a href="#" class="btn btn-primary">See more</a>
                </div>
              </div>

              <div class="card education-item" style="width:  90%;">
                <div class="card-body">
                  <h5 class="card-title">SECONDARY (2019-2020)</h5>
                  <p class="card-text"><b>GSSS Toontoly,</b> <br> Score : <b>81 (percentage)</b></p>
                  <a href="#" class="btn btn-primary">See more</a>
                </div>
              </div> 

            </div>
        </div>
        <div class="col-sm-6">
            <div class="card edu-card">
                <center> <h4>INTERNSHIPS   </h4></center>


                <div class="card education-item" style="width:  90%;">
                    <div class="card-body">
                      <h5 class="card-title">WEB DEVELOPER (june 2023 - Nav 2023)</h5>
                      <p class="card-text"> <b>CollegeAcademy </b><br>
                        HTML, CSS, Bootstrap</p>
                      
                    </div>
                  </div>
                  <div class="card education-item" style="width:  90%;">
                    <div class="card-body">
                      <h5 class="card-title">FRONT END DEVELOPER (dec 2020 - feb 2020)</h5>
                      <p class="card-text"><b>Apna College</b> <br>
                        HTML , CSS, Bootstrap, Javascript</p>
                    
                    </div>
                  </div> 
                  
                  <div class="card education-item" style="width:  90%;">
                    <div class="card-body">
                      <h5 class="card-title">ReactJS DEVELOPER (may 2020 - oct 2020)</h5>
                      <p class="card-text"><b>QuadB Tech
                        </b> <br>
                        ReactJS, Redux, Session Handling, ReactStrap</p>
                    
                    </div>
                  </div> 


            </div>
        </div>
    </div>
</body>